@{
    ViewData["Title"] = "ShowResults";
}

<form class="form-inline" action="~/Home/ShowResults" method="post">
    <input type="text" name="searchingInput" style="width: 50%;
        margin: 50px 10px 0 50px;
        height: 40px;
        border: 1px solid #808080;
        border-radius: 5px;
        float: left;" required />
    <button type="submit" class="btn btn-primary" style="float: left; margin-right: 400px; margin-top: 50px;">Custom Search</button>
</form>
