@{
    ViewData["Title"] = "ShowResults";
}

<form class="form-inline" action="~/Home/ShowResults" method="post">
    <input type="text" name="search" style="width: 100%; margin-left: auto; margin-right: auto; height: 40px;" required />
    <button type="submit">Custom Search</button>
</form>
